{% extends "layout.html" %}
{% block pageTitle %}
    Metis - Home Office
{% endblock %}
{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">Account home</span>
        <h1 class="govuk-heading-l">Good afternoon, Enor Anidi-Ryz</h1>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
        <div class="landing-card govuk-!-margin-bottom-6">
            <h3 class="govuk-heading-m"><a href="#" class="govuk-link">App landing page</a></h3>
            <p>Text explaining what can be done in this section.</p>
            <ul class="govuk-list govuk-!-margin-bottom-0">
                <li><a href="#" class="govuk-link">Link to common task</a></li>
                <li><a href="#" class="govuk-link">Link to common task</a></li>
                <li><a href="#" class="govuk-link">Link to common task</a></li>
            </ul>
        </div>
    </div>
    <div class="govuk-grid-column-one-half">
        <div class="landing-card govuk-!-margin-bottom-6">
            <h3 class="govuk-heading-m"><a href="#" class="govuk-link">App landing page</a></h3>
            <p>Text explaining what can be done in this section.</p>
            <ul class="govuk-list govuk-!-margin-bottom-0">
                <li><a href="#" class="govuk-link">Link to common task</a></li>
                <li><a href="#" class="govuk-link">Link to common task</a></li>
                <li><a href="#" class="govuk-link">Link to common task</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
        <div class="landing-card govuk-!-margin-bottom-6">
            <h3 class="govuk-heading-m"><a href="#" class="govuk-link">App landing page</a></h3>
            <p>Text explaining what can be done in this section.</p>
            <ul class="govuk-list govuk-!-margin-bottom-0">
                <li><a href="#" class="govuk-link">Link to common task</a></li>
                <li><a href="#" class="govuk-link">Link to common task</a></li>
                <li><a href="#" class="govuk-link">Link to common task</a></li>
            </ul>
        </div>
    </div>
    <div class="govuk-grid-column-one-half">
        <div class="landing-card govuk-!-margin-bottom-6">
            <h3 class="govuk-heading-m"><a href="#" class="govuk-link">App landing page</a></h3>
            <p>Text explaining what can be done in this section.</p>
            <ul class="govuk-list govuk-!-margin-bottom-0">
                <li><a href="#" class="govuk-link">Link to common task</a></li>
                <li><a href="#" class="govuk-link">Link to common task</a></li>
                <li><a href="#" class="govuk-link">Link to common task</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
        <div class="landing-card">
            <h3 class="govuk-heading-m"><a href="#" class="govuk-link">App landing page</a></h3>
            <p>Text explaining what can be done in this section.</p>
            <ul class="govuk-list govuk-!-margin-bottom-0">
                <li><a href="#" class="govuk-link">Link to common task</a></li>
                <li><a href="#" class="govuk-link">Link to common task</a></li>
                <li><a href="#" class="govuk-link">Link to common task</a></li>
            </ul>
        </div>
    </div>
    <div class="govuk-grid-column-one-half">
        <div class="landing-card">
            <h3 class="govuk-heading-m"><a href="#" class="govuk-link">App landing page</a></h3>
            <p>Text explaining what can be done in this section.</p>
            <ul class="govuk-list govuk-!-margin-bottom-0">
                <li><a href="#" class="govuk-link">Link to common task</a></li>
                <li><a href="#" class="govuk-link">Link to common task</a></li>
                <li><a href="#" class="govuk-link">Link to common task</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
