{% extends "layout.html" %}
{% block pageTitle %}
    Metis - Home Office
{% endblock %}
{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">Account home</span>
        <h1 class="govuk-heading-l">Enor Anidi-Ryz</h1>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
        <div class="landing-card govuk-!-margin-bottom-6">
            <h3 class="govuk-heading-m"><a href="leave/leave-type" class="govuk-link">Request leave</a></h3>
            <p>Other leave tasks:</p>
            <ul class="govuk-list govuk-!-margin-bottom-0">
                <li><a href="#" class="govuk-link">Check your leave balance</a></li>
                <li><a href="#" class="govuk-link">Change or cancel your leave</a></li>
                <!-- <li><a href="#" class="govuk-link">Review your team's leave requests</a></li> -->
            </ul>
        </div>
    </div>
    <div class="govuk-grid-column-one-half">
        <div class="landing-card govuk-!-margin-bottom-6">
            <h3 class="govuk-heading-m"><a href="#" class="govuk-link">Check your pay</a></h3>
            <p>Other pay tasks:</p>
            <ul class="govuk-list govuk-!-margin-bottom-0">
                <li><a href="#" class="govuk-link">Claim overtime</a></li>
                <li><a href="#" class="govuk-link">Claim expenses</a></li>
                <li><a href="#" class="govuk-link">Find out how your pay could change</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
        <div class="landing-card govuk-!-margin-bottom-6">
            <h3 class="govuk-heading-m"><a href="#" class="govuk-link">Get help with HR, finance and Metis issues</a></h3>
            <p>Other ways to get help:</p>
            <ul class="govuk-list govuk-!-margin-bottom-6">
                <li><a href="#" class="govuk-link">Report IT issues (ITNow)</a></li>
            </ul>
        </div>
    </div>
    <div class="govuk-grid-column-one-half">
        <div class="landing-card govuk-!-margin-bottom-0">
            <h3 class="govuk-heading-m"><a href="#" class="govuk-link">See your team</a></h3>
            <p>TBC:</p>
            <ul class="govuk-list govuk-!-margin-bottom-0">
                <li><a href="#" class="govuk-link">TBC</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
        <div class="landing-card govuk-!-margin-bottom-0">
            <h3 class="govuk-heading-m"><a href="#" class="govuk-link">News</a></h3>
            <p>TBC:</p>
            <ul class="govuk-list govuk-!-margin-bottom-0">
                <li><a href="#" class="govuk-link">TBC</a></li>
            </ul>
        </div>
    </div>
</div>

<!-- <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
        <div class="landing-card">
            <h3 class="govuk-heading-m"><a href="#" class="govuk-link">App landing page</a></h3>
            <p>Text explaining what can be done in this section.</p>
            <ul class="govuk-list govuk-!-margin-bottom-0">
                <li><a href="#" class="govuk-link">Link to common task</a></li>
                <li><a href="#" class="govuk-link">Link to common task</a></li>
                <li><a href="#" class="govuk-link">Link to common task</a></li>
            </ul>
        </div>
    </div>
    <div class="govuk-grid-column-one-half">
        <div class="landing-card">
            <h3 class="govuk-heading-m"><a href="#" class="govuk-link">App landing page</a></h3>
            <p>Text explaining what can be done in this section.</p>
            <ul class="govuk-list govuk-!-margin-bottom-0">
                <li><a href="#" class="govuk-link">Link to common task</a></li>
                <li><a href="#" class="govuk-link">Link to common task</a></li>
                <li><a href="#" class="govuk-link">Link to common task</a></li>
            </ul>
        </div>
    </div>
</div> -->
{% endblock %}
