// global styles for how the font works
$govuk-font-family: inherit;

// If you want to use legacy patterns, uncomment the section in application.scss
@import "application";

// Roboto is the Home Office font
@import "roboto";

// Imports all of the Home Office components (https://design.homeoffice.gov.uk/components)
@import "home-office/all";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

#global-header-bar {
    background-color: #7f3f98;
    height: 5px;
}

.app-contents-list {
    background: none;
    box-shadow: none;
}

.app-related-items {
    border-top: 2px solid #7f3f98;
}

.landing-card {
    background: #fff;
    // border: 1px solid #b1b4b6;
    border: 1px solid rgba(177, 180, 182, .5);
    padding: 20px;
    min-height: 200px;
}

.govuk-link {
    color: #1d70b8 !important;
    text-decoration: underline !important;
}

