{% extends "layout_index.html" %}

{% block pageTitle %}
Metis prototype - Home Office
{% endblock %}

{% set serviceName %} Metis prototype {% endset%}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-xl">Metis prototype</h1>
        <h2 class="govuk-heading-l">Fusion</h2>
        <ul class="govuk-list govuk-list--bullet">
            <li><a href="fusion/home">Metis landing page</a></li>
            <li><a href="fusion/leave/">Absences (without Callisto integration)</a></li>
            <li><a href="#">Close sickness absence</a></li>
            <li><a href="#">Get help from SSCL</a></li>
        </ul>
        <h2 class="govuk-heading-l">Guidance and Requests</h2>
        <ul class="govuk-list govuk-list--bullet">
            <li><a href="guidance-requests/leave">Leave</a></li>
            <!-- <li><a href="guidance-requests/pay">Pay</a></li> -->
        </ul>
    </div>
</div>

{% endblock %}
