{% extends "layout_index.html" %}

{% block pageTitle %}
Home Office - Metis Prototype
{% endblock %}

{% set serviceName %} METIS Prototype {% endset%}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-xl">METIS Prototype</h1>
        <h2 class="govuk-heading-l">Fusion</h2>
        <ul class="govuk-list govuk-list--bullet">
            <li><a href="fusion/home">Homepage</a></li>
            <li><a href="#">Leave</a></li>
            <li><a href="#">Pay</a></li>
        </ul>
        <h2 class="govuk-heading-l">Guidance and Requests</h2>
        <ul class="govuk-list govuk-list--bullet">
            <li><a href="guidance-requests/leave">Leave</a></li>
            <li><a href="guidance-requests/pay">Pay</a></li>
        </ul>
    </div>
</div>

{% endblock %}
