{% extends "layout_index.html" %}

{% block pageTitle %}
Metis prototype - Home Office
{% endblock %}

{% set serviceName %} Metis prototype {% endset%}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-xl">Metis prototype</h1>
        <h2 class="govuk-heading-l">Fusion</h2>
        <ul class="govuk-list govuk-list--bullet">
            <li><a href="fusion/home">Metis landing page (Employee)</a></li>
            <li><a href="fusion/home-line-manager">Metis landing page (Line Manager)</a></li>
            <li><a href="fusion/leave/leave-type">Absences (without Callisto integration)</a></li>
            <li><a href="#">Close sickness absence - To do</a></li>
            <li><a href="#">Get help from SSCL - To do</a></li>
        </ul>
        <h2 class="govuk-heading-l">Guidance and forms</h2>
        <ul class="govuk-list govuk-list--bullet">
            <li><a href="guidance-forms/annual-leave">Annual leave</a></li>
        </ul>
    </div>
</div>

{% endblock %}
